.about-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about-picture-image {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.about-title,
.about-main-infos,
.about-resume {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 20px auto;
}

.about-title h3 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.about-main-infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-description,
.about-infos {
  color: #aaa;
  width: 45%;
}

.about-description {
  text-align: justify;
  font-style: italic;
}

.about-infos ul {
  list-style: none;
}

.infos-title {
  color: #fff;
  font-weight: 600;
  min-width: 110px;
  display: inline-block;
}

.resume-categories {
  margin-bottom: 30px;
}

.about-resume .react-tabs__tab-panel.react-tabs__tab-panel--selected {
  animation: tab_animation 1s ease;
  -moz-animation: tab_animation 1s ease;
  -webkit-animation: tab_animation 1s ease;
}
@keyframes tab_animation {
  0% {
    opacity: 0;
    transform: rotateY(20deg) rotateZ(-3deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

.resume-categories ul.react-tabs__tab-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 50px;
  width: 100%;
  justify-content: space-between;
}

.resume-categories li.react-tabs__tab {
  font-size: 18px;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: 600;
  transition: all .45s cubic-bezier(0,0,.2,1);
}

.resume-categories li.react-tabs__tab.react-tabs__tab--selected {
  background-color: #fff;
  pointer-events: none;
  color: #000;
}

ul.resume-list {
  list-style: none;
}

ul.resume-list li.list-item {
  margin-bottom: 20px;
}

.accordion {
  list-style: none;
  width: 90%;
  margin: auto;
}

.accordion_item {
  border-radius: 5px;
  margin-bottom: 5px;
}

.button_accordion {
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.control {
  font-size: 20px;
}

.list_skills {
  padding: 20px;
  list-style: inside;
}

/* activate toggle */
.accordion_item.active .button_accordion {
  background-color: rgba(255, 255, 255, 0.3);
}

.skills_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.5s;
}

.skills_wrapper.open {
  height: auto;
}

/* MOYEN ECRAN */
@media screen and (max-width: 1024px) {
  li.list-item .description-education li,
  .list_skills li {
    margin-bottom: 10px;
    text-align: left;
  }
}

/* PETIT ECRAN */
@media screen and (max-width: 768px) {
  .about-main-infos {
    flex-direction: column;
  }

  .about-description, .about-infos {
    width: 100%;
  }

  .about-description {
    margin-bottom: 15px;
  }
}

/* TRES PETIT ECRAN */
@media screen and (max-width: 640px) {
  .resume-categories ul.react-tabs__tab-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    justify-content: space-around;
  }

  .resume-categories li.react-tabs__tab {
    margin-bottom: 10px;
  }
}
