.contact-content {
  display: flex;
  max-width: 900px;
  margin: 0 auto 20px auto;
}

.contact-left,
.contact-right {
  width: 50%;
  margin-bottom: 20px;
}
/*
.contact-details {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 30px 0;
}

.contact-details li {
  display: flex;
  margin-bottom: 10px;
}

.contact-details-title {
  font-weight: 600;
  width: 130px;
  font-size: 17px;
}

.contact-details-text {
  color: #aaa;
}

.contact-details-text:hover {
  opacity: 0.7;
}*/

.contact-socials-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  height: 200px;
  align-items: center;
}

.contact-social-div {
  height: fit-content;
  width: fit-content;
}

.contact-social-link {
  background-color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.9;
    scale: 1.1;
  }
}


.contact-social-link .social-icon {
  fill: #000;
  height: 1.5rem;
  width: 1.5rem;
}

.contact-social-link span {
  color: #000;
  margin-left: 0.5rem;
}

.contact-left {
  margin-right: 30px;
}

.map-container {
  width: 100%;
  height: 100%;
}

div#map {
  height: 100%;
  width: 100%;
}

.leaflet-top, .leaflet-bottom {
  z-index: 800;
}

@media screen and (max-width: 960px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }

  .contact-left {
    margin-right: 0;
  }

  .map-container {
    min-height: 300px;
    height: 100%;
    max-height: 400px;
  }
}