.tab {
  color: white;
  padding: 1rem;
  background-color: teal;
  border: 1px solid cyan;

  &:hover {
    color: black;
    background-color: cyan;
  }
}

.tab-selector:checked ~ .tab {
  color: black;
  background: turquoise;
}

.panel {
  padding: 1rem;
  background-color: lightcyan;
  border: 3px solid darkcyan;
}

.tab-bar {
  display: flex;
  overflow-x: auto;
}

.panels {
  position: relative;
}

.panel {
  display: none;
  width: 100%;

  .tabs:has(.tallest) & {
    display: inline-block;
    visibility: hidden;

    &:not(.tallest) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.tab {
  display: block;
  white-space: nowrap;
  cursor: pointer;
}

.radio {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}