---
import { t, changeLanguage } from "i18next";
import ErrorLayout from "@layouts/ErrorLayout.astro";
import "@styles/error.scss";

changeLanguage("fr");
---

<ErrorLayout>
    <div class="div-error">
        <img class="logo" src="/assets/Logo_KP_White.png" alt="Logo KP"/>
        <h1>{t("404_error")} - {t("page_not_found")}</h1>
        <p>{t("page_not_found_text")}</p>
        <a href="/">{t("page_not_found_button")}</a>
    </div>
</ErrorLayout>