---
import '@styles/navbar.scss';
import { t } from "i18next";

const navLinks = [
    {
        name: "home",
        href: "#home",
        isExternal: false,
    },
    {
        name: "about",
        href: "#about",
        isExternal: false,
    },
    {
        name: "portfolio",
        href: "#portfolio",
        isExternal: false,
    },
    {
        name: "contact",
        href: "#contact",
        isExternal: false,
    },
    {
        name: "blog",
        href: "https://thetechadventurer.com/",
        isExternal: true,
    },
];
---

<nav class="navbar" id="navbar">
    <div class="navbar-container">
        <a class="navbar-logo" href="/#home">
            <img
                src="/assets/Logo_KP_White.png"
                alt="Logo KP"
            />
        </a>
        <div class="nav-content">
            <ul class="nav-menu">
                {navLinks
                    .map((navLink) => (
                        <li class="nav-item">
                            <a href={navLink.href} class={`nav-links ${navLink.isExternal ? "external-link" : ""}`} target={navLink.isExternal ? "_blank" : "_self" } rel={navLink.isExternal ? "noreferrer" : "" }>
                                <span>{t(navLink.name)}</span>
                                {navLink.isExternal &&
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="external-link-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                    </svg>
                                }
                            </a>
                        </li>
                    ))
                }
            </ul>
            <button id="menu-toggle" class="menu-icon">
                <span id="mobile-toggle">
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                </span>
            </button>
        </div>
    </div>
</nav>
<ul class="mobile-menu" id="mobile-menu-dropdown">
    {navLinks
        .map((navLink) => (
            <li class="nav-item">
                <a href={navLink.href} class={`nav-links ${navLink.isExternal ? "external-link" : ""}`} target={navLink.isExternal ? "_blank" : "_self" } rel={navLink.isExternal ? "noreferrer" : "" }>
                    <span>{t(navLink.name)}</span>
                    {navLink.isExternal &&
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="external-link-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                            </svg>
                    }
                </a>
            </li>
        ))
    }
</ul>

<script>
    import "../scripts/menu.js";
</script>