---
import '@styles/navbar.scss';
import i18next, { t } from "i18next";

const navLinks = [
    {
        name: "home",
        href: "#home",
    },
    {
        name: "about",
        href: "#about",
    },
    {
        name: "portfolio",
        href: "#portfolio",
    },
    {
        name: "contact",
        href: "#contact",
    },
    {
        name: "blog",
        href: "https://thetechadventurer.com/",
    },
];
---

<nav class="navbar"> <!--  xl:space-y-12 -->
    <div class="navbar-container">
        <a class="navbar-logo" href="/#home">
            <img
                src="/assets/Logo_KP_White.png"
                alt="Logo KP"
            />
        </a>
        <div class="nav-content">
            <ul class="nav-menu">
                {navLinks
                    .map((navLink) => (
                        <li class="nav-item">
                            <a href={navLink.href} class="nav-links">{t(navLink.name)}</a>
                        </li>
                    ))
                }
            </ul>
            <button id="menu-toggle" class="menu-icon">
                <span id="mobile-toggle">
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                    <span class="fill-neutral-50"></span>
                </span>
            </button>
        </div>
    </div>
</nav>
<ul class="mobile-menu" id="mobile-menu-dropdown">
    {navLinks
        .map((navLink) => (
            <li class="nav-item">
                <a href={navLink.href} class="nav-links">{t(navLink.name)}</a>
            </li>
        ))
    }
</ul>

<script>
    import "../scripts/menu.js";
</script>