---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Home from "@components/sections/Home.astro";
import About from "@components/sections/About.astro";
import Contact from "@components/sections/Contact.astro";
import Portfolio from "@components/sections/Portfolio.astro";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("es");
---

<Layout>
	<div class="main-container">
		<Navbar />
		<div class="content">
			<Home />
			<About />
			<Portfolio />
			<Contact />
			<Footer />
		</div>
		<button id="clicktotop" class="clicktotop-hidden">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="clicktotop-icon" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
			</svg>
		</button>
	</div>
</Layout>
<style>

</style>